.topDrawerSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  background-color: #232f3f;
}
.photo {
  cursor: pointer;
}
.text {
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  color: white;
}

.errorCategory {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: black;
}

.categoryLoader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// mok
.mokCategoryName {
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-family: "Amazon Ember", Arial, sans-serif;
  text-align: center;
  padding: 5px;
  &:hover {
    width: 100%;
    background-color: #c8c9cc;
  }
}

.bottomDrawerSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
