.imageBlock {
  display: flex;
  gap: 5px;
}
.additionaImages {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.additionalImage {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 3px transparent solid;
  cursor: pointer;
}

.activeAdditionalPhoto {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 3px #22629f solid;
  cursor: pointer;
}
.mainPhotoBlock {
  position: relative;
}
.mainImage {
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   display: -webkit-box;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 4;
  object-fit: contain;
  max-width: 423px;
  max-height: 460px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.6px;
  height: 33.6px;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.modalContent {
  display: flex;
  justify-content: center;
}

.modalMainImage {
  object-fit: contain;
  max-width: 705px;
  max-height: 510px;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}
.rightModalSide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.modalText {
  font-size: 17px;
  font-family: verdana, arial, helvetica, sans-serif;
}
.modalAdditionaImages {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.modalAdditionalImage {
  object-fit: contain;
  width: 50px;
  height: 50px;
  border: 2px transparent solid;
  cursor: pointer;

  &:hover {
    border-color: #22629f;
  }
}

.selected {
  object-fit: contain;
  width: 50px;
  height: 50px;
  border: 3px #f59e19 solid;
  cursor: pointer;
}
